@charset "UTF-8";
@import './variables.scss';
@import './vant-config.scss';

html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
body {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -webkit-text-size-adjust: 100%;
  line-height: 1;
  font-size: 12px;
}
article,
aside,
blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
a,
ins {
  text-decoration: none;
}
a {
  color: $deep-text-color;
}
em,
i {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
li {
  list-style: none;
}
del {
  text-decoration: line-through;
}
button,
input,
optgroup,
option,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
}
button,
fieldset,
img {
  border: 0;
  max-width: 100%;
}
button {
  -webkit-appearance: none;
  background: 0 0;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input::-webkit-input-placeholder {
  color: $light-text-color;
}
